* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: rgb(221, 221, 221);
}

.signUpForm {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.card {
  box-shadow: 0px 3px 20px 2px #35baee;
}

html {
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  .signUpForm {
    width: 500px;
  }
}
